* {
    flex: content;
    align-items: center;
}

.form {
    background-color: antiquewhite;
    margin: 50px;
    padding: 50px;
}

@media only screen and (max-width:400px) {
    * {
        text-align: center;
    }
}